*,
html,
body {
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

/* Variáveis*/

$color-primary: #fff;
$color-featured: #46b29d;
$default-spacing: 30px;

/*Wrap*/

.wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Header */

.header {
    background: $color-primary;
    color: #333;
    flex: 0 0 100%;
    padding: 80px $default-spacing;
}

.about-author {
    display: flex;
    flex-wrap: wrap;
}

.author-picture {
    border-radius: 50%;
    margin: 0 auto;
    order: 5;
}

.author-description {
    order: 1;
    p {
        font-size: 1.4rem;
        line-height: 2.5ch;
    }
    h1 {
        color: $color-featured;
        font-size: 3em;
        margin: 0 0 15px 0;
        text-transform: capitalize;
    }
}


/*Social network*/

.social-links {
    align-content: space-between;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-top: $default-spacing;
    padding: 0;
    li {
        flex: 1 0 35px;
    }
    a {
        display: block;
        text-indent: -999999px;
        height: 35px;
        width: 35px;
        background-repeat: no-repeat;
        background-position: center;
    }
    .facebook a {
        background-image: url("../img/svg/facebook.svg");
    }
    .twitter a {
        background-image: url("../img/svg/twitter.svg");
    }
    .linkedin a {
        background-image: url("../img/svg/linkedin.svg");
    }
    .github a {
        background-image: url("../img/svg/github.svg");
    }
    .mail a {
        background-image: url("../img/svg/mail.svg");
    }
}


/* Container */

.container {
    flex: 0 0 100%;
}


/* My works*/

.works {
    background: $color-featured;
    color: white;
    padding: $default-spacing;
}


/* Classes */

.title-section {
    font-size: 2.5rem;
    margin: 0 auto;
    text-align: center;
}

.subtitle-section{
  text-align: center;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    margin: $default-spacing 0;
}

.card {
    background: white;
    border-radius: 5px;
    color: #333;
    flex: 1 1 280px;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
    margin-bottom: 15px;
    overflow: hidden;
    h1 {
        text-transform: capitalize;
    }
    .card-content {
        padding: 15px;
    }
    .tags {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        margin-top: 15px;
        align-content: space-between;
        text-align: center;
        li {
            flex: 1 0 auto;
            margin: 5px;
            background-color: #eee;
            border-radius: 5px;
            padding: 5px;
        }
    }
}

@media screen and (min-width:600px) {
    .card {
        margin: 15px;
    }
}