/* My works*/
.works {
    background: $color-theme1;
    color: white;
    padding: 15px $spacing-default 50px  $spacing-default ;
}

/*Elements on modal*/
.job-image{
    display: block;
    margin: 15px auto;
}